<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452960630161-fj07q5729853ie5ut879q2s7dbkldshi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452960630161-fj07q5729853ie5ut879q2s7dbkldshi</string>
	<key>API_KEY</key>
	<string>AIzaSyDjhWw-XaBycVvRIqvlG5cFpL32yHIemlo</string>
	<key>GCM_SENDER_ID</key>
	<string>452960630161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterApp</string>
	<key>PROJECT_ID</key>
	<string>water-reminder-app-eb171</string>
	<key>STORAGE_BUCKET</key>
	<string>water-reminder-app-eb171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452960630161:ios:c04199e221312fcfbe1630</string>
</dict>
</plist>